<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link" href="/SiteUX_inventory/public_html/" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                    class="hide-menu">Dashboard</span></a></li>
            </ul>
            <ul id="sidebarnav">
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Components</span></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="https://localhost/SiteUX_inventory/public_html/pages/product.php" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Product</span></a></li>
            </ul>
            <ul id="sidebarnav">



                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="shopping-cart" class="feather-icon"></i><span
                            class="hide-menu">Order </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><i data-feather="file-plus" class="feather-icon"></i><span
                                            class="hide-menu"> Add New
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><i data-feather="edit" class="feather-icon"></i><span
                                            class="hide-menu"> Update
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><i data-feather="delete" class="feather-icon"></i><span
                                            class="hide-menu"> Delete
                                             </span>  </a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="user-plus" class="feather-icon"></i><span
                            class="hide-menu">Customer </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><i data-feather="file-plus" class="feather-icon"></i><span
                                            class="hide-menu"> Add New
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><i data-feather="edit" class="feather-icon"></i><span
                                            class="hide-menu"> Update
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><i data-feather="delete" class="feather-icon"></i><span
                                            class="hide-menu"> Delete
                                             </span>  </a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="database" class="feather-icon"></i><span
                            class="hide-menu">Category </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><i data-feather="file-plus" class="feather-icon"></i><span
                                            class="hide-menu"> Add New
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><i data-feather="edit" class="feather-icon"></i><span
                                            class="hide-menu"> Update
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><i data-feather="delete" class="feather-icon"></i><span
                                            class="hide-menu"> Delete
                                             </span>  </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="truck" class="feather-icon"></i><span
                            class="hide-menu">Vendors </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><i data-feather="file-plus" class="feather-icon"></i><span
                                            class="hide-menu"> Add New
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><i data-feather="edit" class="feather-icon"></i><span
                                            class="hide-menu"> Update
                                        </span>  </a>
                        </li>
                        <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><i data-feather="delete" class="feather-icon"></i><span
                                            class="hide-menu"> Delete
                                             </span>  </a>
                        </li>
                    </ul>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="././docs/docs.html" aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i><span
                            class="hide-menu">Documentation</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="authentication-login1.html" aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">Logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>